@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.NavBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-family: "Special Gothic Expanded One", sans-serif;
  border-bottom: 1px #ffffff solid;
  padding-bottom: 1%;
  padding-top: 1%;
  background: #070712;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  letter-spacing: 0.1em;
}

.Signature {
  width: 32vw;
  height: 2vw;
  margin-left: 1vw;
}

.NavigationButtons {
  margin-right: 1vw;
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.LinkToPage {
}

.LinkLabel {
  color: #ffffff;
  transition: 0.5s;
  font-size: 1.5em;
  font-weight: 100 !important;
}

.LinkLabel:hover {
  color: #0044ff;
}

@media screen and (max-width: 768px) {
  .NavBarContainer {
    justify-content: center;
  }

  .NavigationButtons {
    gap: 8vw;
  }
  .NavBarContainer {
    height: 12vw;
  }

  .Signature {
    display: none;
  }

  .LinkLabel {
    font-size: 4vw;
  }
}
